/* ----- 共通 ----- */
body {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px; /* 基準サイズ */
  font-weight: 400;
  color: #333;
  width: 100%;
  overflow-x: scroll;
}

.scroll-x-lock { overflow-x: hidden; }
.scroll-y-lock { overflow-y: hidden; }
.hidden { display: none !important; }
.thumbnail { display: block; }

.container {
  box-sizing: content-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}


/* ----- フォント ----- */
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3, h4, h5, h6 { font-size: 1.5em; }

a {
  color: #333;
  text-decoration: none;
}

address {
  font-style: normal;
}


/* ----- メディアクエリ ----- */
/* スマートフォン・タブレット縦 */
@media screen and (max-width: 849px) {
  .sp-hidden { display: none !important; }
  .sp-scroll-x-lock { overflow-x: hidden; }
  .sp-scroll-y-lock { overflow-y: hidden; }
}
/* タブレット横・パソコン */
@media screen and (min-width: 850px) {
  .sp-scroll-x-lock { overflow-x: scroll; }
  .sp-scroll-y-lock { overflow-y: scroll; }
}