@layer widgets, common, reset;
@import url(./reset.css) layer(reset);
@import url(./common.css) layer(common);

:root {
  --page-font: sans-serif;
  --primary-color: #1a306a;
  --primary-deep-color: #0f1f4b;
  --main-bg-color: #f8f9ff;
  --gray-color: #9cb1e3;
  --pale-black: #333;
  --paper-white: rgb(249, 251, 255);
  font-family: sans-serif;
}
::placeholder { color: #ccc; }
.dark { display: none; }


.number {
  font-family: "Inter", sans-serif;
}
.phone-number {
  font-size: 2.5rem;
  font-weight: bold;
}

.text-chip {
  margin-left: 10px;
  padding: 5px;
  font-size: .75rem;
  font-weight: normal;
  background-color: #eee;
  border-radius: 5px;
}
.text-chip-normal {
  color: #fff;
  background-color: var(--primary-deep-color);
}
.text-chip-require {
  color: #fff;
  background-color: rgb(198, 3, 3);
}

.page-title {
  padding: 50px 0;
  background-color: hsl(0, 0%, 96%);
}
.page-title h1 {
  color: #696969;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: .025em;
}
.bread-crumb {
  font-size: 12px;
  padding-bottom: 24px;
  color: #808080;
}
.bread-crumb-inner {
  max-width: 728px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.page-content-margin {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}
.page-content-body {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 0;
  color: #696969;
  letter-spacing: .05rem;
  .post-item {
    & img {
      height: auto;
    }
  }
  & h1 {
    font-size: 2rem;
    margin: 2rem 0;
    line-height: 1.5;
    vertical-align: baseline;
  }
  & h1::before {
    display: inline-block;
    content: '';
    width: 4px;
    height: 32px;
    margin-right: 16px;
    background-color: #808080;
  }
  & h2, & h3, & h4, & h5, & h6 {
    margin: 2rem 0;
    line-height: 1.5;
  }
  & p {
    margin: 3rem 0;
    line-height: 2;
  }
  & ul, ol {
    margin: 1.5rem 0;
    padding: 40px;
    background-color: #f5f5f5;
  }
  & li { margin: 1rem 0; }
  & li ul,
  & li ol {
    padding: 20px 0 0 40px;
  }
  .wp-block-table table { border: 1px solid #f5f5f5;}
  .wp-block-table tr:nth-child(even) { background-color: #f5f5f5; }
  .wp-block-table td {
    line-height: 2;
    border: none;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0;
    :nth-child(1) { margin-top: 0; }
    :nth-last-child(1) { margin-bottom: 0; }
  }
  .form-input p {
    margin: 0;
  }
  & label {
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    & a {
      color: #808080;
      text-decoration: 1px solid var(--pale-black);
    }
  }
  & input:not([type="checkbox"], [type="submit"]),
  select,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 1.25rem;
    background-color: #e9edf1;
    border: 1px solid #acaeb1;
    border-radius: 5px;
  }
  & input[type="date"] {
    font-family: "Inter", sans-serif;
  }
  & input[type="submit"] {
    width: 100%;
    max-width: 385px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: .5em;
    background-color: #0f1f4b;
  }
  .form-full-width {
    margin: 50px 0;
    text-align: center;
  }
  .form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    text-align: center;
    & input[type="checkbox"] {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    & label { margin: 0; }
  }
  /* 埋め込み動画コンテンツ */
  .is-type-video {
    margin: 50px 0;
    text-align: center;
  }
  & :nth-child(1) { margin-top: 0; }
  & :nth-last-child(1) { margin-bottom: 0; }
}
/* 投稿ページのみ */
.page {
  background-color: #f5f5f5;
}
@media screen and (max-width: 849px) {
  .page-content-body {
    margin: 0 20px;
    & h1, h2 {
      font-size: 2.5rem;
    }
    & h3, h4 {
      font-size: 24px;
    }
    & .form-label {
      margin-bottom: 10px;
    }
    & .form-input {
      margin-bottom: 20px;
    }
  }
}
@media screen and (min-width: 850px) {
  .page-title { padding: 100px 0 50px; }
  .page-content-body {
    padding: 50px 0;
    .form-group {
      grid-template-columns: 200px 1fr;
      row-gap: 35px;
    }
    .form-label {
      display: inline;
      align-items: center;
      justify-content: center !important;
    }
  }
}

/* ----- メニュー ----- */
/* リストのインデント消去 */
.menu, .post, .brand, .office, .key-card,
.sub-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li a {
  display: block;
}
.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;
}
.post-item {
  & img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
.post-text {
  font-family: sans-serif;
  margin: 10px 5px 0;
}
.post-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.post-date {
  color: #808080;
  font-size: .8rem;
}
@media screen and (min-width: 600px) {
  .post { grid-template-columns: repeat(2, auto); }
}
@media screen and (min-width: 850px) {
  .post { grid-template-columns: repeat(3, auto); }
  .post-item { transition-duration: 200ms; }
  .post-item:hover .post-title { color: #1a306a; }
}
@media screen and (min-width: 1024px) {
  #header-nav .menu {
    flex-direction: row;
  }
}
/* リストの子要素のスタイル */
.sub-menu { margin-bottom: 10px; }


/* ----- ヘッダー ----- */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: #eee solid 1px;
  z-index: 200;
  .header-inner {
    display: grid;
    grid-template-columns: 1fr 54px;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }
  .header-logo, .menu-btn { height: 54px; }
  .header-logo {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      margin: auto;
      width: 80%;
      max-height: 54px;
      object-fit: contain;
    }
  }
  .menu-btn {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    justify-content: center;
    background-color: #333;
  }
  .menu-btn-inner {
    position: relative;
    width: 32px;
    height: 32px;
  }
  .menu-bar {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 32px;
    height: 1px;
    background-color: #fff;
    transform-origin: center;
    transition-duration: 200ms;
  }
  .menu-bar-1 { transform: translateY(-8px); }
  .menu-bar-3 { transform: translateY(8px); }
  .menu-bar-close .menu-bar-1 {
    transform: rotate(45deg);
  }
  .menu-bar-close .menu-bar-2 { display: none; }
  .menu-bar-close .menu-bar-3 {
    transform: rotate(315deg);
  }
  .site-description {
    padding: 3px 0;
    font-size: .75rem;
    letter-spacing: .01em;
    text-align: center;
    color: #333;
    background-color: #d6d5d5;
  }
  .global-nav a {
    color: #333;
    transition: all 300ms;
  }
  .menu a i { padding-right: 7px; }  /* メニューアイコン */
}
@media screen and (max-width: 849px) {
  header {
    .header-inner {
      grid-template-columns: 1fr 54px;
      grid-template-rows: repeat(2, auto);  
    }
    .header-logo {
      width: 100%;
      & img { max-width: 250px; }
    }
    .menu-group {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      height: 100%;
    }
    .menu-group.sp-menu-group-hidden { display: none; }
    .global-nav a {
      padding: 15px 0 15px 20px;
    }
    .button-menus .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .button-menus .menu-item {
      width: calc(100% / 2);
      border: #fff solid .5px;
    }
    .button-menus a {
      padding: 15px 0;
      text-align: center;
      color: #fff;
      background-color: #333;
    }
  }
}

@media screen and (min-width: 850px) {
  header {
    .header-inner {
      display: flex;
      align-items: start;
      justify-content: flex-start;
      max-width: 1024px;
      margin: 0 auto;
      padding: 10px 0;
      height: 74px;
    }
    .header-logo { max-width: 300px; }
    .menu-group {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: right;
      column-gap: 25px;
    }
    .global-nav { position: relative; }
    .global-nav .menu {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
    }
    .menu > .menu-item a {
      padding: 5px 10px;
      border-radius: 5px;
    }
    .global-nav .menu-item > a:hover {
      background-color: #eee;
    }
    .global-nav .sub-menu {
      display: none;
      position: absolute;  /* 親要素に合わせる */
      padding: 7px;
      row-gap: 5px;
      background-color: #fff;
      border: #e9edf1 solid 1px;
      border-radius: 5px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    }
    .global-nav .menu > .menu-item:hover .sub-menu {
      display: block;
    }
    .global-nav .sub-menu a {
      padding: 5px;
      border-radius: 5px;
    }
    .global-nav .sub-menu a:hover {
      background-color: #eee;
    }
    .button-menus a {
      color: var(--primary-deep-color);
      border: var(--primary-deep-color) solid 1px;
      background-color: #fff;
      transition-duration: 200ms;
    }
    .button-menus a:hover {
      color: #fff;
      background-color: var(--primary-deep-color);
    }
    .menu-btn { display: none; }
  }
}

.corplogo {
  text-align: center;
}



#tab {
  margin: 50px 0;
  font-family: sans-serif;
  .tab-panel-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .tab-panel-item li {
    width: 100%;
    flex: 2;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    transition-duration: 200ms;
  }
  .tab-panel-item a {
    display: inline-block;
    width: 100%;
    padding: 25px 0;
    font-weight: 400;
    white-space: nowrap;
    & i {
      padding-right:15px;
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: 850px) {
  #tab {
    margin: 50px 0;
    .tab-panel-item ul {
      flex-direction: row;
    }
    .tab-panel-item li:hover {
      background-color: #fafafa;
    }
  }
}

#notice .infomation,
#late-post .topics {
  padding: 50px 0;
}
#notice .headline,
#late-post .headline,
#brands .headline {
  font-family: sans-serif;
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: 700;
}
#notice .post-item,
#late-post .post-item {
  font-family: sans-serif;
}

#notice {
  margin: 25px 0;
  background-color: #f5f5f5;
  .infomation {
    padding: 50px 0;
  }
  .headline {
    color: #979797;
  }
  .notice-title {
    color: #696969;
    padding-top: 10px;
    font-size: 1rem;
  }
  .notice-category,
  .notice-date {
    display: inline-block;
    font-weight: 400;
    color: #cfcfcf;
  }
  .notice-category {
    padding: 2px 15px;
    font-size: .75rem;
    border-radius: 10px;
    color: #696969;
    background-color: #eee;
  }
  .notice-date {
    font-size: .85rem;
    letter-spacing: .05em;
  }
  .post {
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #fff;
    gap: 25px;
  }
  .post-item {
    padding: 0 10px;
  }
}

#late-post,
.page-content {
  .headline {
    color: #c0c0c0;
    letter-spacing: .15rem;
  }
}

@media screen and (min-width: 600px) {
  #notice .headline,
  #late-post .headline,
  #brands .headline {
    font-family: sans-serif;
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 850px) {
  #notice .infomation,
  #late-post .topics {
    padding: 0 25px;
  }
  #notice {
    margin: 50px 0;
    .infomation { padding: 50px 25px; }
    .post {
      flex-direction: row;
      flex: 1
    }
    .post-item { width: 100%; }
  }
}


#key-visual {
  & img {
    height: 360px;
    object-fit: cover;
  }
  .key-container {
    margin: 0 auto;
  }
  .key-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .key-item {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
  }
  .key-text { font-size: 1px; }
}
@media screen and (min-width: 850px) {
  #key-visual {
    & img {
      height: 620px;
    }
  }
}

.brands {
  margin: 50px 0;
  padding: 50px 0 25px;
  border-top: 1.5px solid #f5f5f5;
  border-bottom: 1.5px solid #f5f5f5;
  background-color: #fff;
}
.brands .headline {
  color: #c0c0c0;
  letter-spacing: .25rem;
}
.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  & img {
    display: block;
    max-width: 150px;
  }
}


#sustainability {
  margin: 100px 0;
  padding: 50px 0;
  background-color: rgb(227, 255, 227);
  .headline {
    padding-bottom: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: #379f37;
    text-align: center;
    line-height: 1.5;
    letter-spacing: .15rem;
  }
  .sust-message {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2;
    text-align: center;
  }
  .sust-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .recycle-flow {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 170px;
    justify-content: center;
    gap: 50px;
    & p {
      color: #379f37;
      margin-top: 10px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 600px) {
  #sustainability {
    .headline {
      padding: 0 0 50px 0;
    }
    .sust-message {
      text-align: left;
      line-height: 3;
    }
    .sust-image {
      border-radius: 10px;
    }
    .recycle-flow {
      grid-template-columns: repeat(3, 150px);
      gap: 50px;
    }
  }
}


.map iframe {
  width: 100%;
}

/* フッター */
#footer {
  display: grid;
  font-family: var(--page-font);
  color: #696969;
  background-color: #eee;
  .sitemap,
  .footer-info,
  .copyright {
    margin: 0 10px;
  }
  .footer-info { padding: 24px 10px; }
  .sitemap { padding: 32px; }
  .sitemap .menu-item.menu-item-has-children > a { font-weight: bold; }
  .sitemap .menu,
  .sitemap .sub-menu {
    gap: 16px;
  }
  .sitemap .menu-item:has(.sub-menu) { margin-top: 24px; }
  .sitemap .sub-menu {
    margin: 16px 0 0;
  }
  .site-description {
    margin-bottom: 12px;
    font-size: .75rem;
    color: #808080;
  }
  .footer-logo {
    color: #696969;
    font-size: 1rem;
    margin-bottom: 24px;
  }
  .sns-icon .menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 12px 0;
  }
  .sns-icon a {
    color: #696969;
    font-size: 1.5rem;
    transition-duration: 300ms;
  }
  .sns-icon a:hover { color: #333; }
  .legal ul {
    margin: 0 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 10px;
  }
  .legal a { text-decoration: underline; }
  .legal a:hover { text-decoration: none; }
  .modest-text {
    display: flex;
  }
  .copyright {
    color: #808080;
    font-size: 12px;
    letter-spacing: .05rem;
  }
}

@media screen and (max-width: 849px) {
  #footer {
    .footer-info {
      border-top: 1px solid #acaeb1;
    }
  }
}
@media screen and (min-width: 850px){
  #footer {
    .footer-info { padding: 32px; }
    .sitemap .menu {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 24px;
    }
    .sitemap .menu:not(.menu-item-has-children) {
      grid-column: 2 / 4;
    }
    .sitemap .menu-item:has(.sub-menu) { margin: 0; }
    .sitemap .sub-menu {
      margin-top: 8px;
      gap: 8px;
    }
    .sitemap .menu-item a:hover { text-decoration: underline; }
    .modest-text {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  }
}

/* ウィジェット */
.bottom-widget {
  max-width: 728px;
  margin: 50px 20px;
  & h2 {
    color: var(--primary-deep-color);
    font-size: 2em;
  }
  .wp-block-page-list {
    list-style: none;
    padding-left: 0;
  }
  .wp-block-pages-list__item a {
    display: block;
    padding: 5px 0;
  }
}
.widget h2 { margin-bottom: 25px; }
.popular-posts {
  .wpp-list {
    display: none;
    flex-direction: row;
  }
  .taxonomies { display: none; }
}
@media screen and (min-width: 768px) {
  .bottom-widget {
    margin: 50px auto;
    & a:hover { text-decoration: 1px solid var(--pale-black); }
  }
}