@layer widgets, common, reset;
@import url(./reset.css) layer(reset);
@import url(./common.css) layer(common);

:root {
  --primary-color: #1a306a;
  --primary-deep-color: #0f1f4b;
  --background: #eee;
  --white: #fff;
  --black: #333;
}

header,
footer {
  background-color: var(--background);
}

header {
  .corplogo {
    display: inline-block;
    width: 240px;
  }

  .header-inner {
    display: flex;
    flex: 1;
  }

  .header-nav-menu ul {
    display: flex;
  }

  .header-nav-menu a {
    display: block;
  }

  .sp-header-icon {
    display: none;
  }
}

main {
  .page-link {
    display: block;
    margin: 50px 0;
    text-align: center;
  }

  .page-link-button {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }

  .page-link a {
    display: inline-block;
  }

  .page-container {
    max-width: 728px;
    margin: 50px auto;
    padding: 0 20px;
  }

  .page-title {
    padding: 50px 25px;
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(90deg, #333333 50%, #777777);
    object-fit: cover;
  }

  .main-visual {
    width: 100%;
    height: 100vh;
    background: url(../images/1x/tile_pattern.webp) repeat fixed;
    display: grid;
    place-items: center;
  }

  .main-visual-left {
    margin: 60px 0;
    text-align: center;
  }

  .main-visual .main-headline {
    display: inline-block;
    text-align: center;
    font-size: 3.75rem;
    background-color: rgba(251, 255, 0, 0.7);
    line-height: 1;
  }

  .main-visual-right span {
    display: block;
    text-align: center;
    margin: 18px 0;
    letter-spacing: .15em;
  }

  .main-visual-message {
    font-size: 1.5rem;
    font-family: serif;
  }

  .main-visual-message.strong {
    font-size: 2.5em;
    font-weight: 700;
  }

  .seminar-list {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 60px;
    background: url(../images/1x/cube_outline.webp) repeat;
    z-index: 1;
  }

  .card-ctl-button {
    position: absolute;
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
    place-items: center;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }

  .btn-visual {
    display: inline-block;
    background: rgba(255, 255, 255, .5);
  }

  .hand-write-heading {
    margin-top: 35px;
    text-align: center;
  }

  .hand-write-heading img {
    display: inline-block;
    width: 40%;
    max-width: 250px;
  }

  /* sections */
  .headline {
    padding: 50px 0;
    text-align: center;
  }

  .headline img {
    display: inline-block;
    max-width: 350px;
  }

  .headline-subtext {
    margin-top: 16px;
    font-weight: bold;
  }

  #seminar {
    padding-bottom: 50px;
    .seminars-wrap {
      display: grid;
      grid-template-columns: auto;
    }

    .post-seminar {
      padding: 25px;
      border: lightgray .5px solid;
    }

    .post-seminar:hover .seminar-title {
      text-decoration: underline;
    }

    .seminar-info {
      margin: 20px;
      margin-bottom: 0;
    }

    .seminar-title {
      font-size: 1.25rem;
      margin: 20px 0;
      line-height: 1.5;
      white-space: pre-line;
    }

    .seminar-date,
    .seminar-author {
      color: lightgray;
      font-size: 14px;
    }

    .seminar-date::after {
      display: inline-block;
      content: "|";
      margin: 0 10px;
    }

    .seminar-author {
      letter-spacing: .05rem;
    }

    .post-seminar img {
      width: 100%;
      height: auto;
    }
  }

  #press {
    padding-bottom: 50px;
    background: #f4fff4;

    .headline-subtext {
      color: #2ebf40;
    }

    .presses-wrap {
      max-width: 768px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      border-top: #abe5b2 solid 1px;
      border-bottom: #abe5b2 solid .5px;
    }

    .post-press a {
      box-sizing: border-box;
      padding: 15px;
      display: grid;
      align-items: center;
      grid-template-columns: 100px auto 72px;
    }

    .post-press:hover {
      background: #eafeed;
    }

    .post-press:not(:last-child) {
      border-bottom: #c9f5cf solid .5px;
    }

    .press-title {
      font-size: 1rem;
      line-height: 1.5;
    }

    .press-date {
      font-size: .75rem;
    }

    .image {
      margin-left: auto;
      width: 72px;
      height: 72px;
    }
  }

  #service {
    padding-bottom: 50px;
    background: #eff6fb;

    .services-wrap {
      max-width: 768px;
      margin: 0 auto;
      padding: 25px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px;
    }

    .service-item {
      margin-top: 50px;
      background: #fff;
      border-radius: 25px;
    }

    .service-head {
      position: relative;
      height: 120px;
      border-radius: 25px 25px 0 0;
    }

    .service-head img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50px);
      width: 120px;
    }

    .service-title {
      font-size: 1.5rem;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .service-description li {
      margin: 16px 0;
    }

    .service-pricing {
      padding-bottom: 16px;
      text-align: center;
      font-family: serif;
      font-size: 2rem;
      font-weight: bold;
    }

    .service-pricing .currency,
    .service-pricing .price-per {
      font-size: 1rem;
      font-weight: normal;
    }

    .service-google-business {
      .service-head {
        background: #3f51b5;
      }
      
      .service-title {
        color: #fff;
      }
    }

    .service-line {
      .service-head {
        background: #06C755;
      }

      .service-title {
        color: #fff;
      }
    }

    .service-website {
      .service-head {
        background: #b53f3f;
      }

      .service-title {
        color: #fff;
      }
    }

    .service-lecture {
      .service-head {
        background: #1386e5;
      }

      .service-title {
        color: #fff;
      }
    }
  }

  .mission {
    color: #6699ff;
    margin: 100px 0;
    padding: 0 20px;
  }

  .mission .heading {
    margin-top: 50px;
    text-align: center;
  }

  .mission-step {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .mission-step img {
    max-width: 100px;
    margin: 0 auto;
  }

  .mission-step dt {
    width: 80%;
    margin: 25px auto;
  }

  .mission-step h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .mission-step p {
    font-size: .85rem;
  }
}

#single,
#page {
  & h1:not(.page-title) {
    font-size: 42px;
    margin: 50px 0 24px;
    padding: 0 30px;
    border-bottom: 2px solid gray;
    background-color: lightgray;
  }

  & h2,
  & h3 {
    margin-top: 50px 0 32px;
    padding: 0 30px;
    border-left: 5px solid #eee;
  }

  & h4,
  & h5 {
    background-color: #f5f5f5;
  }

  & h4 {
    border-bottom: 2px solid gray;
  }

  & h5 {
    border-bottom: 2px dotted gray;
  }

  & h6 {
    border-bottom: 2px dotted gray;
  }

  & h4,
  & h5,
  & h6 {
    margin: 50px 0 24px;
    padding: 5px;
  }
  
  & p {
    margin: 16px 0;
    line-height: 2;
  }

  & figure {
    margin: 25px 0;
  }

  & figcaption {
    text-align: center;
    font-size: .75rem;
    color: gray;
  }

  & iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  & h2 {
    font-size: 32px;
    margin: 32px 0 16px;
  }

  .wp-block-heading.wp-block-heading.has-text-align-center {
    position: relative;
    margin-bottom: 40px;
  }

  .wp-block-heading.has-text-align-center::after {
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 100px;
    height: 1px;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
  }

  .wp-block-column>.wp-block-heading {
    margin: 0 0 25px;
  }

  .wp-block-table table {

    & td,
    & th {
      border: none;
      padding: 12px;
    }

    & tr:nth-child(even) {
      background-color: #efefef;
    }
  }

  & ul {
    padding: 0 20px;
  }

  & ul li {
    margin: 16px 0;
    line-height: 2;
  }

  & ul ul {
    margin: 8px 0;
    padding-left: 20px;
  }

  & ul ul li {
    margin: 4px 0;
  }

  .delivery-area {
    font-size: 1.25rem;
    list-style: none;
  }

  .delivery-area>ul {
    display: flex;
    list-style: inside;
    flex-wrap: wrap;
  }

  .delivery-area ul>li {
    margin: 4px 16px;
    font-size: 1rem;
  }
}

#single {
  & ul {
    margin: 24px 0;
    padding: 20px;
    padding-left: 40px;
    border: 2px double lightgray;
    background: rgb(242, 242, 242);
  }

  & ul li {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li>ul {
    padding: 0 0 0 20px;
    list-style: circle;
    border: none;
  }
}

#page.page-corporate .page-title {
  background: url(.././images/オフィス街.webp) center / cover;
}

#page.page-message {
  .officer-name {
    margin-top: 50px;
    font-family: serif;
  }
}

#page.page-contact .page-title {
  /* background: linear-gradient(90deg, rgba(15, 35, 80, 1), rgba(15, 35, 80, 0)) repeat; */
  background: url(.././images/1x/shippou.webp) repeat;
}

/* メインタブメニュー */
#main-tab-menu {
  margin: 50px 0;

  .tab-label {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 10px;
    justify-content: center;
  }

  .tab-label-item {
    background: lightgray;
    padding: 10px 25px;
    border-radius: 5px 5px 0 0;
    user-select: none;
    cursor: pointer;
  }

  .tab-label-item.is-active {
    background: whitesmoke;
  }

  .tab-panel-wrap {
    padding: 25px;
    background: whitesmoke;
  }

  .tab-panel {
    display: none;
    flex-direction: column;
    gap: 10px;
    max-width: 718px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .tab-panel.is-show {
    display: flex;
  }

  .post-contents a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .post-column-left {
    display: flex;
    flex-shrink: 1;
  }

  .post-heading {
    font-size: .8rem;
    color: gray;
    margin-left: 15px;
  }

  .post-date {
    font-size: .5rem;
    color: gray;
  }

  .post-column-right {
    flex-shrink: 0;
  }

  .post-column-right img {
    margin-left: auto;
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
  }
}

.page-contact {
  .form-description {
    margin: 25px 0;
  }

  .form-description p {
    margin: 10px 0 !important;
  }

  .required {
    margin: 0 5px;
    color: rgb(224, 18, 69);
  }

  & label {
    display: inline-block;
    margin-bottom: 10px;
  }

  & input,
  & textarea {
    width: 100%;
    resize: none;
    padding: 5px 7px;
    border: lightgray solid 1px;
    border-radius: 5px;
  }

  & input[type="submit"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    margin: 0 auto;
    color: var(--white);
    background: var(--primary-color);
    border: none;
    letter-spacing: .25rem;
  }
}

#writer {
  margin: 100px 0 50px;
  padding: 25px;
  display: flex;
  gap: 25px;
  border: lightgray solid 1px;
  border-radius: 5px;

  .author-icon {
    flex-shrink: 0;
  }

  .author-name {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  .author-description {
    margin: 0;
    line-height: 1.5;
  }

  .avatar {
    border-radius: 50%;
  }
}

footer {
  display: grid;

  .sitemap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 25px;
    font-weight: bold;
    border-bottom: #ccc solid .5px;
  }

  .sitemap h2 {
    font-size: 16px;
  }

  .sitemap-menu,
  .legal-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sitemap-menu a,
  .legal-menu a {
    display: block;
    padding: 10px 10px;
  }

  .footer-inner {
    display: flex;
    align-items: center;
    padding: 50px 25px 25px;
    background: var(--black);
    color: #c7c7c7;
    gap: 50px;
  }

  .footer-logo .corporate {
    margin: 10px 0;
    font-size: 1.25rem;
    letter-spacing: .15rem;
  }

  .address {
    display: flex;
    font-size: 13px;
    gap: 15px;
  }

  .sns-menu a {
    font-size: 1.5rem;
    color: #c7c7c7;
  }

  .law-contents {
    margin-left: auto;
  }

  .law-contents .copyright,
  .law-contents .legal {
    font-size: .75rem;
    color: #c7c7c7;
    text-align: center;
  }

  .law-contents .legal-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

@media screen and (max-width: 767px) {
  body::before {
    position: absolute;
    display: none;
    content: "";
    width: 100vw;
    height: 100%;
    background: #333;
    opacity: .5;
    /* z-index: -1; */
  }

  header {
    .header-title {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center;
      justify-content: center;
    }

    .header-title a {
      display: block;
      width: 100%;
      padding: 10px 0;
      height: 60px;
      text-align: center;
    }

    .header-title img {
      display: inline-block;
      height: 100%;
    }

    .header-nav-menu {
      position: fixed;
      width: 80%;
      height: 100vh;
      background: #333;
      transform: translateX(-100%);
      overflow-y: scroll;
      transition: ease-in-out 150ms;
      z-index: 1000;
    }

    .menu,
    .sub-menu {
      flex-direction: column;
      color: #333;
      background: var(--white);
    }

    .menu {
      padding: 0 10px;
    }

    .menu a,
    .sub-menu a {
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;
      border-bottom: #ccc solid .5px;
    }

    .menu .menu-item:not(.menu-item-has-children) a::after {
      content: "→";
    }

    .menu .menu-item-has-children a::after {
      content: "↓";
    }

    .sns-menu {
      margin: 10px 15px;
      flex-direction: row;
      column-gap: 10px;
      color: var(--white);
    }

    .sns-menu a {
      padding: 12px;
      font-size: 1.5rem;
    }

    .sp-header-icon {
      display: block;
      font-size: 2rem;
      margin-left: 10px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-inner>.sp-header-icon {
      color: #333;
    }

    .header-nav-menu>.sp-header-icon {
      color: var(--white);
    }
  }

  .sp-menu-open {
    overflow-y: hidden;

    &::before {
      display: block;
      z-index: 999;
    }

    .header-nav-menu {
      transform: translateX(0);
    }
  }

  footer {
    .footer-inner {
      flex-direction: column;
      gap: 25px;
    }

    .address {
      flex-direction: column;
      gap: 0;
    }

    .law-contents {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px),
print {
  header {
    display: flex;
    min-height: 60px;
    align-items: center;

    .header-inner {
      margin: 0 25px;
    }

    .header-title a {
      display: block;
    }

    .header-nav-menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
    }

    .header-nav-menu .menu {
      margin: 0 20px;
      column-gap: 15px;
      position: relative;
    }

    .header-nav-menu .menu a {
      padding: 10px 0;
    }

    .header-nav-menu .sub-menu {
      position: absolute;
      display: none;
      flex-direction: column;
      background: var(--background);
      transition: ease-in-out 200ms;
      transform: translateX(-25px);
    }

    .header-nav-menu .sub-menu a {
      padding: 10px 25px;
    }

    .header-nav-menu .menu-item:hover .sub-menu {
      display: flex;
    }

    .sns-menu {
      font-size: 1.25rem;
      gap: 10px;
    }

    .sns-menu a {
      padding: 3px;
    }
  }

  main {
    .mission-step {
      padding: 0 50px;
      flex-direction: row;
      justify-content: center;
      flex-grow: 1;
    }

    .mission-step dl {
      width: 100%;
    }

    #seminar {
      .seminars-wrap {
        max-width: 768px;
        margin: 0 auto;
        grid-template-columns: repeat(2, auto);
      }

      .image {
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    #press {
      .post-press a {
        padding: 15px 30px;
      }
    }

    #service {
      .services-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
      }
    }
  }

  #single,
  #page {
    & p {
      margin: 16px 0;
    }

    .wp-block-heading {
      line-height: 1.5;
    }

    .wp-block-column {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  #main-tab-menu {
    .tab-label {
      column-gap: 15px;
    }

    .tab-label-item {
      padding: 12px 50px;
    }

    .post-date {
      font-size: .75rem;
    }

    .post-heading {
      font-size: 1rem;
    }
  }

  #writer {
    gap: 25px;
  }

  footer {
    .sitemap {
      flex-direction: row;
      gap: 50px;
      padding: 50px 100px;
    }

    .sitemap a:hover {
      opacity: .7;
    }
  }
}